*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Define Bold Weight */
@font-face {
  font-family: "GT Ultra";
  src: url("./assets/fonts/GT-Ultra-Standard-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* Define Light Weight */
@font-face {
  font-family: "GT Ultra";
  src: url("./assets/fonts/GT-Ultra-Standard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* Define Regular Weight */
@font-face {
  font-family: "GT Ultra";
  src: url("./assets/fonts/GT-Ultra-Standard-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: "GT Ultra";
  text-align: left;
  background-color: rgb(234, 234, 234);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 56px;
}

.custom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(225, 90, 29);
  color: #fff;
  min-height: 56px;
}

.potato-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5.25px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.3) 0px 27px 15px -30px,
    rgba(0, 0, 0, 0.5) 0px 11px 9px -10px;
}

.grid-cell {
  width: 64px;
  height: 64px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e7eb;
  background-color: white;
}

.grid-cell.active {
  /* background-color: rgba(225, 90, 29, 0.2); */
  background-color: rgba(136, 178, 171, 0.5);
}

.control-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #efeae5;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.control-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  min-height: 42px;
  min-width: 42px;
  background-color: rgb(225, 90, 29);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.control-button:hover {
  background-color: #c75724;
  box-shadow: 0 20px 15px -17px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.control-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(225, 90, 29, 0.5);
}

.control-button svg {
  color: #fff;
  height: 24px;
  width: 24px;
}

.rotate-up {
  transform: rotate(180deg);
}

.rotate-left {
  transform: rotate(90deg);
}

.rotate-right {
  transform: rotate(-90deg);
}

.announcement {
  padding: 12px;
  max-width: 370px;
  background-color: rgb(17, 22, 34);
  color: #fff;
  margin-bottom: 12px;
}

.subtitle-text {
  font-size: 24.5px;
  font-weight: 800;
  line-height: 30.8px;

  margin: 0;
}

.plain-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.caption-text {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}

a,
a:-webkit-any-link {
  font-family: "GT Ultra", sans-serif;

  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: 0;
  text-decoration-style: solid;
  text-decoration-color: transparent;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #fff;
}

@media (max-width: 600px) {
  .grid-cell {
    width: 40px;
    height: 40px;
  }
}
